.header {
  padding: 17px 0;

  border-bottom: 2px solid var(--text);
}

.header__container {
  padding: 0 70px;
  display: flex;
  align-items: center;
}
.header__logo {
  color: var(--text);

  font-weight: 700;
  font-size: 24px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 58px;
  margin-left: auto;
}

.header__link {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 15px;

  line-height: 1.6;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--gray);

  transition: color 0.3s ease;
}
.header__link:hover {
  color: var(--accent);
}

.header__button {
  font-weight: 500;
  font-size: 20px;
  text-align: center;

  border-radius: 7px;
  padding: 8px;
  width: 186px;
}

.nav a:hover,
.nav button:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .header__container {
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 19px 0;
  }
  .header__container {
    padding: 0 10px;
  }
  .header__nav {
    gap: 10px;
  }
  .header__button {
    width: 106px;
    padding: 6px;
  }
}
