.HomePage {
  padding: 95px 0;
}

.HomePage__title {
  font-weight: 700;
  font-size: 58px;

  line-height: 1.4;

  margin-bottom: 34px;

  max-width: 730px;
}

.HomePage__action {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 95px;
}

.HomePage__button {
  border-radius: 5px;
  padding: 15px;
  width: 128px;
}

.HomePage__link {
  color: var(--accent);
  background: #fff;
  border: 1px solid var(--accent);
  width: 155px;

  border-radius: 5px;
  padding: 15px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.HomePage__link:hover {
  background: var(--accent);
  color: #fff;
}

@media (max-width: 1024px) {
  .HomePage {
    padding: 70px 0;
  }

  .HomePage__title {
    font-size: 44px;
    max-width: 600px;
  }
  .HomePage__action {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .HomePage {
    padding: 56px 0;
  }

  .HomePage__title {
    font-size: 28px;
    max-width: 400px;
    margin-bottom: 45px;
  }

  .HomePage__action {
    margin-bottom: 30px;
  }
}
