.ContactsPage {
  padding: 160px 0;
}

.ContactsPage__title {
  font-weight: 700;
  font-size: 58px;

  line-height: 1.37931;
}

@media (max-width: 1024px) {
  .ContactsPage {
    padding: 70px 0;
  }
  .ContactsPage__title {
    font-size: 44px;
  }
}

@media (max-width: 767px) {
  .ContactsPage {
    padding: 56px 0;
  }
  .ContactsPage__title {
    font-size: 28px;
  }
}
